site_name: Hunter x Hunter Documentación
site_description: Wiki técnica y visual sobre el universo de Hunter x Hunter
site_author: Cristian

nav:
  - Inicio: index.md
  - Acerca de: about.md

theme:
  name: material
  language: es
  palette:
    - scheme: default
      primary: green
      accent: deep orange
      toggle:
        icon: material/weather-night
        name: Modo oscuro
    - scheme: slate
      primary: green
      accent: deep orange
      toggle:
        icon: material/weather-sunny
        name: Modo claro
  font:
    text: Roboto
    code: Roboto Mono
  logo: images/hxh-logo.png
  favicon: images/hxh-icon.png
  features:
    - navigation.instant
    - navigation.tabs
    - search.highlight
    - search.suggest
    - toc.integrate
    - content.code.copy
    - content.action.edit
    - content.tabs.link
    - header.autohide

markdown_extensions:
  - admonition
  - codehilite
  - footnotes
  - meta
  - toc:
      permalink: true

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/1923154-lgtm
    - icon: fontawesome/brands/twitter
      link: https://twitter.com/1923154-lgtm
